<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<title>Inicio</title>
<link href="paginas/sticky-footer-navbar.css" rel="stylesheet" />




<link th:href="@{webjars/bootstrap/4.1.0/css/bootstrap.min.css}"
	rel="stylesheet" />
<link
	th:href="@{webjars/datatables/1.10.16/css/dataTables.bootstrap4.css}"
	rel="stylesheet" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap4.min.css" />




<script src="webjars/qrcodejs/07f829d/qrcode.js"></script>
<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
/*
	#qrcode {
	  width:160px;
	  height:160px;
	  margin-top:15px;
	}
	*/
footer {
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: white;
}
</style>

</head>
<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/index1">Agregar evento</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="">Lista
							de eventos</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div role="main" class="container">
		<br />
		<h1 class="mt-5">Lista de eventos en la UACM</h1>
		<p class="lead">Listado de eventos agregados para el sistema de
			letras habladas.</p>
		<table class="table" id="tablaEventos">
			<caption>Lista de eventos</caption>
			<thead>
				<tr>
					<th scope="col">#id</th>
					<th scope="col">Nombre del evento</th>
					<th scope="col">Fecha de evento</th>
					<th scope="col">Fecha de termino del evento</th>
					<th scope="col">Tipo de evento</th>
					<th scope="col">Descripción</th>
					<th scope="col">Plantel</th>
					<th scope="col" id="test">Detalle de evento</th>
					<th scope="col"></th>

				</tr>
			</thead>
			<tbody>

				<!-- 
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td><a href="/index1"><button type="button" class="btn btn-light" >Detalle de evento</button></a></td>
          </tr>            
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td><a href="/index1"><button type="button" class="btn btn-light" >Detalle de evento</button></a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td><a href="/index1"><button type="button" class="btn btn-light" >Detalle de evento</button></a></td>
          </tr>
          -->

			</tbody>
		</table>
	</div>




	<!-- Large modal -->
<!-- 	<button type="button" class="btn btn-primary" data-toggle="modal" -->
<!-- 		data-target=".bd-example-modal-lg">Large modal</button> -->

	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				
				
				<div class="container">
					
					<br/>
					<div class="row">
		<!-- 					<div class="col-sm-5"></div> -->
						<div class="col-sm-8">
							<h2 class="mt-5">Código QR de evento</h2>
						</div>
						<div class="col-sm-4">
							<div id="qrcode"></div>
						</div>
					</div>
<!-- 					<br/> -->
				
					<div class="row justify-content-md-center">
						<!-- <div class="col-sm-4"></div> -->
						<div class="col-sm-12 align-self-center">
							<h3 class="mt-5 text-center">Evento</h3>
						</div>
						<!-- <div class="col-sm-4"></div> -->
					</div>
					
					
					<!--      		<div class="container"> -->
					<div class="row">
						<!-- 
	     			<div class="col-sm-1">
	     			</div>
	     			-->
						<div class="col-sm-6">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">
										<label for="inputNombreEvento">Nombre evento</label>
									</span>
								</div>
								<input type="text" class="form-control" aria-label="Small"
									aria-describedby="inputGroup-sizing-sm" id="inputNombreEvento"
									name="nombreEvento" placeholder="Ingrese nombre de eveto"
									required="true" />
							</div>
						</div>
						<div class="col-sm-6">
							<!--  <h3 class="mt-5">Descripción del evento</h3> -->
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"> <label
										for="inputDescipcionEvento">Describe el evento</label>
									</span>
								</div>
								<textarea class="form-control" aria-label="DescripcionEvento"
									id="inputDescripcionEvento" name="descipcionEvento"
									placeholder="Ingrese descripcion de eveto" required="true"></textarea>
							</div>
						</div>
						<!-- 
	     			<div class="col-sm-1">
	     			</div>
	     			 -->
					</div>
					<!--      		</div> -->

					<div class="row justify-content-md-center">
						<!-- <div class="col-sm-4"></div> -->
						<div class="col-sm-12 align-self-center">
							<h3 class="mt-5 text-center">Ubicación</h3>
						</div>
						<!-- <div class="col-sm-4"></div> -->
					</div>



					<!-- 			<div class="container"> -->
					<div class="row">
						<div class="col-sm-6">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">
										<label for="inputNombrePlantel">Plantel</label>
									</span>
								</div>
								<!-- 
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" id="inputNombrePlantel"
								name="plantel" placeholder="Ingrese nombre de plantel"
								required="true" />
							 -->

								<select class="form-control" id="inputNombrePlantel"
									required="true" name="plantel">
									<option value="sanLorenzoTezonco">San Lorenzo Tezonco</option>
									<option value="casaLibertad">Casa Libertad</option>
									<option value="centroHistorico">Centro Histórico</option>
									<option value="cuautepec">Cuautepec</option>
									<option value="delValle">Del Valle</option>
								</select>

							</div>
						</div>

						<!-- 
					<div class="col-sm">
						<div class="input-group input-group-sm mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">
									<label for="inputSalon">Salon</label>
								</span>
							</div>
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" id="inputSalon"
								name="salon" placeholder="Ingrese nombre de salon o aula"
								required="true" />
						</div>
					</div>
					-->
						<div class="col-sm-6">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">
										<label for="inputDescripcionUbicacion">Descripción de
											ubicación</label>
									</span>
								</div>
								<!-- 
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm"
								id="inputDescripcionUbicacion" name="descipcionUbicacion"
								placeholder="Ingrese descripcion de ubicación" required="true" />
							 -->
								<textarea class="form-control" aria-label="DescripcionUbicacion"
									id="inputDescripcionUbicacion" name="descipcionUbicacion"
									placeholder="Ingrese descripcion de ubicación" required="true"></textarea>

							</div>
						</div>
					</div>
					<!-- 			</div> -->


					<div class="row justify-content-md-center">
						<!-- <div class="col-sm-4"></div> -->
						<div class="col-sm-12 align-self-center">
							<h3 class="mt-5 text-center">Fecha de evento</h3>
						</div>
						<!-- <div class="col-sm-4"></div> -->
					</div>


					<!-- <div class="container"> -->
					<div class="row">
						<!-- 					<div class="col-sm"> -->
						<!-- 						<p>Introdusca cuando inicia y cuando termina el evento</p> -->
						<!-- 					</div> -->
						<div class="col-sm-6">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">
										<label for="inputFechaInicio">Fecha inicial de evento</label>
									</span>
								</div>
								<input class="form-control" type="date" value="2011-08-19"
									id="inputFechaInicio" name="fechaInicio" required="true" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">
										<label for="inputFechaFin">Fecha de termino de evento</label>
									</span>
								</div>
								<input class="form-control" type="date" value="2011-08-19"
									id="inputFechaFin" name="fechaFin" required="true" />
							</div>
						</div>
					</div>




					<!-- 					<div class="row"> -->
					<!-- 											<div class="col-sm"> -->
					<!-- 												<p>A que hora comineza el evento y a que hora termina</p> -->
					<!-- 											</div> -->
					<!-- 						<div class="col-sm"> -->
					<!-- 							<div class="input-group input-group-sm mb-3"> -->
					<!-- 								<div class="input-group-prepend"> -->
					<!-- 									<span class="input-group-text" id="inputGroup-sizing-sm"> -->
					<!-- 										<label for="inputHoraInicio">Hora de inicio</label> -->
					<!-- 									</span> -->
					<!-- 								</div> -->
					<!-- 								<input type="time" class="form-control" aria-label="Small" -->
					<!-- 									aria-describedby="inputGroup-sizing-sm" id="inputHoraInicio" -->
					<!-- 									name="horaInicio" required="true" /> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 						<div class="col-sm"> -->
					<!-- 							<div class="input-group input-group-sm mb-3"> -->
					<!-- 								<div class="input-group-prepend"> -->
					<!-- 									<span class="input-group-text" id="inputGroup-sizing-sm"> -->
					<!-- 										<label for="inputHoraFin">Hora de termino</label> -->
					<!-- 									</span> -->
					<!-- 								</div> -->
					<!-- 								<input type="time" class="form-control" aria-label="Small" -->
					<!-- 									aria-describedby="inputGroup-sizing-sm" id="inputHoraFin" -->
					<!-- 									name="horaFin" required="true" /> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->




					<!-- 			</div> -->

					<div class="row justify-content-md-center">
						<!-- <div class="col-sm-4"></div> -->
						<div class="col-sm-12 align-self-center">
							<h3 class="mt-5 text-center">Talleres</h3>
						</div>
						<!-- <div class="col-sm-4"></div> -->
					</div>

				</div>
				<div class="container" id="containerAddTaller">

					<!-- 			<div class="container"> -->
					<div class="row">
						<div class="col-sm-6">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Nombre
										del taller</span>
								</div>
								<input type="text" class="form-control" aria-label="Small"
									aria-describedby="inputGroup-sizing-sm" id="inputNombreTaller" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Nombre
										del tallerista</span>
								</div>
								<input type="text" class="form-control" aria-label="Small"
									aria-describedby="inputGroup-sizing-sm"
									id="inputNombreTallerista" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Descripcion
										del taller</span>
								</div>
								<!-- 
									<input type="text" class="form-control" aria-label="Small"
										aria-describedby="inputGroup-sizing-sm" id="inputDescripcionTaller"/>
									-->
								<textarea class="form-control" aria-label="DescripcionTaller"
									id="inputDescripcionTaller" name="descipcionTaller"
									placeholder="Ingrese descripcion de taller" required="true"></textarea>

							</div>
						</div>
					</div>

					<!-- 			</div> -->
					<!-- 			<div class="container"> -->


					<div class="row">
						<div class="col-sm-4">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Fecha
										del taller</span>
								</div>
								<input class="form-control" type="date" value="2011-08-19"
									id="inputFechaTaller" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Hora
										de inicio</span>
								</div>
								<input class="form-control" type="time"
									id="inputHoraInicioTaller" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Hora
										de termino</span>
								</div>
								<input type="time" class="form-control" aria-label="Small"
									aria-describedby="inputGroup-sizing-sm" id="inputHoraFinTaller" />
							</div>
						</div>
					</div>


					<!-- 			</div> -->

					<!-- 			<div class="container"> -->



					<div class="row justify-content-md-center">
						<!-- <div class="col-sm-4"></div> -->
						<div class="col-sm-12 align-self-center">
							<h3 class="mt-5 text-center">Agregar ubicación de taller</h3>
						</div>
						<!-- <div class="col-sm-4"></div> -->
					</div>
					<div class="row">
						<!-- 
					<div class="col-sm">
						<div class="input-group input-group-sm mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Plantel</span>
							</div>
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" />
						</div>
					</div>
						-->
						<div class="col-sm">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Salon</span>
								</div>
								<input type="text" class="form-control" aria-label="Small"
									aria-describedby="inputGroup-sizing-sm" id="inputSalonTaller" />
							</div>
						</div>

						<div class="col-sm">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Descripción
										ubicación de taller </span>
								</div>
								<!-- 							
								<input type="text" class="form-control" aria-label="Small"
									aria-describedby="inputGroup-sizing-sm" id="inputDescripcionTaller"/>
								 
								-->
								<textarea class="form-control"
									aria-label="DescripcionUbicacionTaller"
									id="inputDescipcionUbicacionTaller"
									name="descipcionUbicacionTaller"
									placeholder="Ingrese descripcion de ubicacion" required="true"></textarea>
							</div>
						</div>

					</div>
					<!-- 			</div> -->
					<div class="form-group" style="text-align: right">
						<button type="button" class="btn btn-primary"
							onclick="agregarFila()">Agregar taller</button>
						<button type="button" class="btn btn-danger"
							onclick="eliminarFila()">Eliminar ultimo evento</button>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<table border="1" class="table" id="tableTalleres">
							<thead class="thead-dark">
								<tr>
									<th>Nombre</th>
									<th>Tallerista</th>
									<th>Descripción taller</th>
									<th>Fecha</th>
									<!-- <th>Fecha termino</th>  -->
									<th>Hora inicio</th>
									<th>Hora termino</th>
									<th>Salon</th>

								</tr>
							</thead>
							<tbody></tbody>
						</table>


					</div>

				</div>
				<div class="container" id="containerAddTallerButton">

					<div class="row">
						<div class="col-sm-9"></div>
						<div class="col-sm-3">
							<!-- 			</div> -->
							<div class="form-group" style="text-align: right">
								<!--
							<input class="btn btn-secondary" type="submit" name="enviar"
								value="Guardar evento 2" />
							-->
								<button id="guardarEvento" type="button" class="btn btn-primary">Guardar
									evento</button>

								<!-- 
					<div class="alert alert-success" role="alert" id="successAlert">
						Evento y talleres registrados.
					</div>
					<div class="alert alert-danger" role="alert" id="dangerAlert">
						Error al registrar evento y talleres.
					</div>
					-->
							</div>
						</div>

					</div>

				</div>




				<!-- aqui es el fin -->
			</div>
		</div>
	</div>

	<!-- Small modal -->
<!-- 	<button type="button" class="btn btn-primary" data-toggle="modal" -->
<!-- 		data-target=".bd-example-modal-sm">Small modal</button> -->

<!-- 	<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" -->
<!-- 		aria-labelledby="mySmallModalLabel" aria-hidden="true"> -->
<!-- 		<div class="modal-dialog modal-sm"> -->
<!-- 			<div class="modal-content">...</div> -->
<!-- 		</div> -->
<!-- 	</div> -->


	

	<footer class="footer">
		<div class="container">
			<span class="text-muted">Letras habladas UACM SLT.</span>

		</div>
	</footer>


	<script type="text/javascript" src="js/info2.js"></script>

</body>
</html>